img {-ms-interpolation-mode: bicubic;}
video{width: 562px;height: 1014px;display: block;z-index: 2;position: absolute;top: 0;left: 0;}

video.done{display: none;}

#scratch {
  position: absolute;
  display: block;
  width: 562px;
  height: 1014px;
  top: 0;
  left:0;
  z-index:1;
}

#scratch img {width: 562px;height: 1014px}
#scratch.revealed canvas {opacity: 0;height: 0;}

#scratch canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  will-change: transform;
  transform: translate3d(0,0,0);
  -ms-touch-action: none;
  -webkit-touch-action: none;
  -moz-touch-action: none;
  touch-action: none;
  transition: opacity 500ms ease-out 0ms, height 0ms linear 500ms;
}
